#connect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --radix-connect-button-width: 11.25rem;
  --radix-connect-button-height: 2.875rem;
  --radix-connect-button-border-radius: 0.5rem;
}
@media (max-width: 384px) {
  #connect-btn {
    --radix-connect-button-width: 100px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;