#connect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --radix-connect-button-width: 11.25rem;
  --radix-connect-button-height: 2.875rem;
  --radix-connect-button-border-radius: 0.5rem;
}
@media (max-width: 384px) {
  #connect-btn {
    --radix-connect-button-width: 100px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/MyCustomFont.woff2') format('woff2');
} */

@layer base {
  body {
    /* font-family: "arial", sans-serif; */
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    /* @apply bg-gradient-to-b from-secondary/60 from-20% to-primary to-30%; */
    @apply bg-primary;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply bg-gradient-to-b from-secondary/40 from-5% via-secondary/30 via-10% to-primary to-15%;
    /* @apply min-h-screen relative bg-gradient-to-b from-secondary/5 from-3% via-primary via-15% to-primary to-20%; */
    /* @apply min-h-screen relative bg-transparent; */
    /* @apply min-h-screen relative bg-primary; */
  }

  header {
    @apply m-0;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }

  .reset-style_link {
    @apply outline-none focus:outline-none;
  }

  a {
    @apply text-gray-500;
  }
  a.active {
    @apply text-accent;
  }

  .align-icon_1cap {
    height: 1cap;
    aspect-ratio: 1;
    border-radius: 50%;
    @apply bg-primary;
  }
  .align-icon_2cap {
    height: 2cap;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .bg-gradient_right {
    @apply bg-gradient-to-r from-secondary/20 to-accent/0;
  }
  .bg-gradient_left {
    @apply bg-gradient-to-l from-accent/10 to-secondary/0;
  }

  .linear-gradient {
    @apply absolute w-full h-40 bg-gradient-to-b from-secondary/60 to-primary z-0;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}


@layer components {
  .gradient {
    background: var(--color-primary);
    background: linear-gradient(180deg, var(--color-secondary) 0%, rgba(7,2,88,1) 5%, var(--color-primary) 30%);
    @apply relative w-full;
  }

  .pattern {
    @apply absolute w-full h-40 left-[50%] -translate-x-[50%] bg-gradient-to-b from-secondary/60 to-primary z-0;
  }

  .wrapper {
    @apply relative px-4 py-4 xs:p-10 max-w-[480px] mx-auto flex flex-col justify-items-center z-10 text-white bg-transparent;
  }

  .card-info__total-asset {
    /* @media only screen and (max-width: 428px) { */
    @apply w-full h-auto flex flex-col justify-items-center gap-5 mx-auto mb-6 py-4 text-center text-white;
    & .circle {
      @apply w-11 h-11 rounded-full bg-secondary/20;
    }
  }

  .wallet-card {
    @apply w-full h-auto flex flex-row justify-between items-center py-[12px] text-white;

    & .wrap-wallet {
      @apply flex flex-row items-center gap-2;
      
      & .icon-wallet {
        @apply relative w-11 h-11;
        & img {
          @apply w-6 h-6 mx-auto my-2;
        }
      }
      & .wallet-info {
        & p {
          @apply text-xs font-light text-gray-300;
        }
        & div {
          @apply text-sm;
        }
      }
    }
    & .icon-wallet {
      @apply w-11 h-11;
    }
  }
 
  .card-info__total-turnover {
    @apply w-full flex flex-row justify-between items-center my-2 pl-6 pr-3 py-3 border border-secondary/30 rounded-2xl backdrop-blur-lg;
    
    & .total-turnover {
      & div {
        @apply text-2xl font-normal tracking-wide;
      }
      & span {
        @apply text-xs font-light tracking-wide text-gray-300;
      }
    }
    & .btn-turnover {
      @apply w-11 h-11;
      & .logo-turnover {
        @apply w-6 h-6 m-auto translate-y-3;
      }
    }
  }

  .card-transaction {
    @apply flex justify-between my-0 p-3 rounded-2xl;
    /* bg-gradient_right; */
    & .right {
      @apply flex gap-2.5;
      & .logo-crypto {
        @apply w-10 h-full object-cover rounded-full overflow-hidden;
        & img {
          @apply w-10 h-full align-bottom;
        }
      }
    }
  }

  .card-task {
    @apply flex justify-between items-center px-[17px] py-3.5 rounded-2xl;
    & .left {
      @apply flex flex-row gap-2;
    }
    /* & div {
      @apply flex flex-row gap-2;
      & .icon {
        @apply align-icon;
      }
    } */
  }

  .card-laderboard {
    @apply flex justify-between px-[17px] py-2 rounded-xl 
    /* border border-accent/10 */
    /* bg-accent/5 */
    /* odd:bg-accent/5 even:bg-primary */
    ;
    & .left {
      @apply relative flex items-center flex-auto gap-2;
      /* & .icon {
        @apply align-icon;
      } */
    }
    & .right {
      @apply w-7 h-9 px-0 py-px -skew-x-3;
      & .rank {
        @apply w-full h-full text-center text-sm font-normal leading-9;
      }
    }
  }

  .card-referalcode {
    @apply bg-wrap-card_referral bg-no-repeat w-[342px] h-[610px] flex justify-items-center flex-col text-center mx-auto px-7;
    & div.top {
      @apply mt-20;
      & .text {
        @apply flex flex-col gap-3 mt-6 font-normal;
        & h4 {
          @apply text-2xl leading-7 text-white;
        }
        & p {
          @apply text-base leading-6 text-accent;
        }
      }
    }
    & div.middle {
      @apply flex justify-between w-full mx-auto;
    }
    & div.bottom {
      @apply flex flex-col justify-center w-full h-auto mx-auto mt-[64px];
    }
  }
  
  .card-point {
    @apply  relative w-[138px] h-[88px] flex flex-col justify-center items-center gap-1 px-[14px] rounded-2xl border border-accent/50;
    & .premium {
      @apply absolute -top-1.5 -left-px flex align-baseline items-center gap-0.5 pl-2 pr-2.5 py-0.5 bg-accent rounded-tl-xl rounded-br-xl;
      /* & .icon {
        @apply align-icon;
      } */
    }
  }

  .card-history_game {
    @apply flex justify-between my-0 p-3 rounded-2xl border border-accent/10 bg-gradient_right;
    & .left {
      @apply flex items-center gap-3 w-fit;
      & .logo-crypto {
        @apply w-12 h-12 rounded-full overflow-hidden;
      }
    } 
    & .right {
      @apply flex flex-col justify-between items-end;
      /* & div {
        & .icon {
          @apply align-icon_2cap p-1;
        }
      } */
    }
  }

  .card_info-gameplay {
    @apply flex flex-col justify-center flex-auto max-w-[110px] h-auto px-2 pt-3 pb-4 gap-1.5 rounded-xl border border-accent/10 bg-primary;
    & .card-info {
      @apply flex justify-center items-center align-baseline gap-1;
      /* & .icon {
        @apply align-icon;
      } */
    }
  }

  .banner {
    @apply relative flex justify-center;
  }

  .connect-btn {
    @apply text-white bg-accent/10 hover:bg-secondary border border-accent/10 font-medium rounded-full text-xs pl-3 pr-1.5 py-1.5 align-baseline text-center inline-flex gap-1 items-center cursor-pointer outline-none focus:outline-0;
    & .div {
      @apply text-xs font-light tracking-wide leading-none;
    }
  }

  .wrap-gradient_left {
    @apply relative inline-flex items-center justify-center p-0.5 my-0 overflow-hidden rounded-2xl bg-gradient-to-l from-secondary/20 to-accent/0;
    & .content {
      @apply relative w-full h-full flex flex-col justify-center gap-2 mx-auto px-0 py-0 bg-primary rounded-[14px];
    }
  }
  .wrap-list_tasks {
    @apply relative inline-flex items-center justify-center p-0.5 my-20 overflow-hidden rounded-3xl bg-gradient-to-b from-accent/10 to-primary;
    & .content {
      @apply relative w-full h-full flex flex-col justify-center gap-2 mx-auto px-4 py-8 bg-primary rounded-[22px];
    }
  }
  
  .wrap-list_leaderboard {
    @apply relative inline-flex items-center justify-center p-0.5 my-14 overflow-hidden rounded-3xl bg-gradient-to-b from-accent/10 to-primary;
    & .content {
      @apply relative w-full h-full flex flex-col justify-center gap-2 mx-auto px-2 py-2 bg-primary rounded-[22px];
    }
  }

  .list-card_info-gameplay {
    @apply flex flex-row justify-evenly w-full;
  }

  .list-games {
    @apply relative inline-flex items-center justify-center p-0.5 my-14 overflow-hidden rounded-3xl bg-gradient-to-b from-accent/10 to-primary;
    & .content {
      @apply relative w-full h-full flex flex-col justify-center gap-2 mx-auto px-2 py-2 bg-primary rounded-[22px];
    }
  }

  .list-transactions {
    @apply flex flex-col justify-center w-full gap-2 mb-32;
  }

  .list-leaderboards {
    @apply flex flex-col justify-center w-full gap-2 mb-32;
  }

  .list-tasks {
    @apply flex flex-col justify-center w-full gap-2 mb-32;
  }
  
  .list-history_games {
    @apply flex flex-col justify-center w-full gap-2 mb-32;
  }

}

/* @utility align-icon {
  @layer base {
    height: 1cap;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-secondary);
  }
}

@utility align-icon_2cap {
  @layer base {
    height: 2cap;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
  }
}

@utility bg-gradient_right {
  @layer base {
    @apply bg-gradient-to-r from-secondary/20 to-accent/0;
  }
}

@utility hide-scrollbar {
  @layer base {
    -ms-overflow-style: none;
    scrollbar-width: none;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
} */